  <h1>Bonjour <%= @user.first_name %> !</h1>

  <p>Nous vous remercions pour votre commande.</p>

  <p>Vous avez commandé les photos de chats suivante: </p>

  <% @items_with_qty.each do |item| %>
    <p><%= item[:title] %></p>
  <% end %>

  <p>Montant de la commande :</p>

  <%= @price_total %>

  <p>Vous pouvez retrouver vos images sur votre profil.</p>

  <p>Un grand merci pour la confiance que vous nous accordez.</p>

  <p> Nous espérons vous revoir bientôt. <%= @url %></p>

  <br>

  <p>Veuillez noter que ce message vous a été envoyé d'une adresse qui ne peut recevoir d'e-mails. Merci de ne pas y répondre.</p>
