<div class="carousel slide" data-ride="carousel">
<% banners.each do |banner| %>
<div class="jumbotron d-flex justify-content-center flex-column align-items-center" id="banner_custom" style="background: url(<%= polymorphic_url(banner.banner_image) if banner.banner_image.attached? %>);">
  <h1 class="display-2"><%= banner.title %></h1>
  <p class="lead"><%= banner.description %></p>
</div>
<% end %>
</div>
