<div class="jumbotron d-flex justify-content-center flex-column align-items-center" id="banner_custom">
  <h1 class="display-2">Bienvenue sur le CatShop</h1>
  <p class="lead">L'endroit parfait pour tous les amoureux des chats</p>
</div>
