<div class="jumbotron d-flex justify-content-center flex-column align-items-center" id="banner_custom">
  <h1 class="display-2"><%= banner.title %></h1>
  <p class="lead"><%= banner.description %></p>
</div>
