<div class="card" id="<%= item.id %>">
	<%if item.cat_picture.attached?%>
	<%= image_tag item.cat_picture, alt: "#{item.title}", class: "card-img" %>
	<%else%>
	<img src="" class="card-img" alt="img-cat">
	<% end %>
	<div class="card-body d-flex justify-content-between">
		<%= link_to item.title, item_path(item.id), class: "card-title" %>
		<% if is_admin?(current_user) %>
		<%= link_to "Supprimer", item_path(item.id), method: :delete, remote: true, class: "btn btn-outline-danger" %>
		<% end %>
	</div>
</div>
