<div class="col-3">
	<div class="card">
		<div class="card-header">
			<img src="" class="card-img" alt="img-cat">
		</div>
		<div class="card-body">
			<%= link_to item.title, item_path(item.id), class: "btn btn-info" %>
		</div>
	</div>
</div>