<%= render 'banner' %>
<div class="card-columns">
<<<<<<< HEAD
	<% @items.sort.reverse.each do |item| %>
=======
	<!-- A loop that displays the cards in the column. -->
	<% @items.sort.each do |item| %>
>>>>>>> guillaume
	<%= render 'card', item: item %>
	<% end -%>
</div>
