// Place all the styles related to the banners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner_custom {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	color: white;
}
