<div class="footer-content">
  <div class="row">
    <div class="col-4 content-1">
      <h5 class="text-uppercase">Qui sommes-nous ?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam purus erat, dapibus ac ultrices non, sagittis sed purus. Duis urna est, accumsan eget interdum eget, finibus vitae ante.
      </div>

      <div class="col-3">
      </div>

      <div class="col-3 content-2">
        <h5 class="text-uppercase join-us">Nous rejoindre :</h5> <br />
        <div class="d-flex justify-content-between">
          <%= fa_icon "twitter", :class => "fa-lg white-text fa-3x"%>
          <%= fa_icon "facebook", :class => "fa-lg white-text fa-3x"%>
          <%= fa_icon "google-plus", :class => "fa-lg white-text fa-3x"%>
          <%= fa_icon "linkedin", :class => "fa-lg white-text fa-3x"%>
        </div>
      </div>

      <div class="col-2">

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <h4>Made with love</h4>
  </div>
