<div class="footer-content">
  <div class="row">
    <div class="col-4 content-1">
      <h5 class="text-uppercase">Qui sommes-nous ?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam purus erat, dapibus ac ultrices non, sagittis sed purus. Duis urna est, accumsan eget interdum eget, finibus vitae ante.
      </div>
      <div class="col-8 content-2">
        <h5 class="text-uppercase join-us">Nous rejoindre :</h5>

      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <h4>Made with love</h4>
  </div>
