
  <div class="row footer-content w-100 m-0 p-0">
    <div class="col-sm-4 d-flex flex-column justify-content-around align-items-center">
      <h5>QUI SOMMES NOUS ?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam purus erat, dapibus ac ultrices non, sagittis sed purus. Duis urna est, accumsan eget interdum eget, finibus vitae ante.
    </div>

    <div class="col-sm-4 d-flex flex-column justify-content-around align-items-center">
      <h5>NOS ENGAGEMENTS</h5>
      <ul>
        <li>Paiement sécurisé</li>
        <li>Meilleurs prix garantis</li>
        <li>Contact 7j/7</li>
      </ul>

    </div>

    <div class="col-sm-4 d-flex flex-column justify-content-around align-items-center">
      <h5>SUIVEZ NOUS !</h5>
      <div class="d-flex justify-content-around w-100">
        <%= fa_icon "twitter", :class => "fa-lg white-text fa-2x"%>
        <%= fa_icon "facebook", :class => "fa-lg white-text fa-2x"%>
        <%= fa_icon "google-plus", :class => "fa-lg white-text fa-2x"%>
        <%= fa_icon "linkedin", :class => "fa-lg white-text fa-2x"%>
      </div>
    </div>
  </div>


<div class="footer-copyright w-100 d-flex justify-content-center align-items-center">
  © 2019 Copyright : la team de Rennes
</div>
