<nav class="navbar">
	<a><h1 class="navbar-brand">Cat Shop</h1></a>
	<div class="dropdown">
		<h3 class="dropdown-toggler">Compte</h3>
		<div class="dropdown-menu secondary f-column">
			<p class="dropdown-item">Connexion</p>
			<p class="dropdown-item">Inscription</p>
			<p class="dropdown-item">Panier</p>
		</div>
	</div>
</nav>